@layer base {
	html,
	body {
		height: 100%;
	}
	body {
		font-size: 1rem;
		overscroll-behavior-y: none;
		-ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-color: var(--color-creamy-cloud);
	}

	body:has(#backdrop[data-body-locked='true']),
	.p-overflow-hidden {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
		padding-right: var(--p-scrollbar-width);
	}

	@media (any-hover: hover) {
		::-webkit-scrollbar {
			width: 0.375rem;
			height: 0.375rem;
		}
		::-webkit-scrollbar-track {
			background: var(--color-creamy-cloud);
			border-radius: 0.25rem;
		}

		::-webkit-scrollbar-thumb {
			background-color: var(--p-primary-color);
			border-radius: 0.25rem;
			border: 0.125rem solid transparent;
		}
	}
}

@layer components {
	#app {
		min-height: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		@supports (overflow: clip) {
			overflow: clip;
		}

		> main {
			flex: 1 1 auto;
		}
		> * {
			min-width: 0;
		}
	}
}
