@theme default {
	--font-sans: 'Montserrat', sans-serif;
	--font-heading: 'Sofia Sans', sans-serif;
	--font-title: 'Philosopher', sans-serif;

	/* ! CLAMP */
	--text-58-22: clamp(1.375rem, 0.838rem + 2.69vw, 3.625rem);
	--text-50-28: clamp(1.75rem, 1.422rem + 1.64vw, 3.125rem);
	--text-35-20: clamp(1.25rem, 1.026rem + 1.12vw, 2.188rem);
	--text-32-16: clamp(1rem, 0.722rem + 1.39vw, 2rem);
	--text-32-26: clamp(1.625rem, 1.535rem + 0.45vw, 2rem);
	--text-24-18: clamp(1.125rem, 1.035rem + 0.45vw, 1.5rem);
	--text-80-20: clamp(1.25rem, 0.354rem + 4.48vw, 5rem);

	--text-md-34-28: clamp(1.75rem, 1.427rem + 0.67vw, 2.125rem);
	--text-md-52-28: clamp(1.75rem, 0.459rem + 2.69vw, 3.25rem);
	--text-md-55-38: clamp(2.375rem, 1.46rem + 1.91vw, 3.438rem);

	--text-max-md-40-20: clamp(1.25rem, 0.357rem + 4.46vw, 2.5rem);
	--text-max-md-55-28: clamp(1.75rem, 0.545rem + 6.03vw, 3.438rem);
	--text-max-lg-60-26: clamp(1.625rem, 0.613rem + 5.06vw, 3.75rem);
	--text-max-lg-70-32: clamp(2rem, 0.869rem + 5.65vw, 4.375rem);

	--text-lg-29-20: clamp(1.25rem, 0.415rem + 1.35vw, 1.813rem);
	--text-lg-50-30: clamp(1.875rem, 0.019rem + 2.99vw, 3.125rem);
	--text-lg-70-42: clamp(2.625rem, 0.026rem + 4.19vw, 4.375rem);
	--text-lg-80-48: clamp(3rem, 0.03rem + 4.79vw, 5rem);

	/*! BREAKPOINTS */
	--breakpoint-sm: 29.9988rem; /* 479.9808px */
	--breakpoint-md: 47.9988rem; /* 767.98px */
	--breakpoint-lg: 61.9988rem; /* 991.98px */
	--breakpoint-xl: 105.6238rem; /*! 1689.98px */
	--breakpoint-2xl: 1920.9808px; /* 1919.98px */

	/* ! border radius */
	--radius-sm: 0.3125rem;
	--radius-md: 0.625rem;
	--radius-lg: 0.9375rem;
	--radius-xl: 1.25rem;
	--radius-2xl: 1.5625rem;

	/* ! Shadow */
	--shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
	--shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	--shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-lg: 0 4px 4px rgb(0 0 0 / 0.25);
	--shadow-xl:
		0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
	--shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	--inset-shadow-2xs: inset 0 1px rgb(0 0 0 / 0.05);
	--inset-shadow-xs: inset 0 1px 1px rgb(0 0 0 / 0.05);
	--inset-shadow-sm: inset 0 2px 4px rgb(0 0 0 / 0.05);

	/* letter spacing */
	--tracking-tighter: -0.05em;
	--tracking-tight: -0.025em;
	--tracking-normal: 0em;
	--tracking-wide: 0.025em;
	--tracking-wider: 0.05em;
	--tracking-widest: 0.1em;
	/* Line Height */
	--leading-tight: 1.2;
	--leading-snug: 1.375;
	--leading-normal: 1.5;
	--leading-relaxed: 1.625;
	--leading-loose: 2;

	/* -- */
	--drop-shadow-xs: 0 1px 1px rgb(0 0 0 / 0.05);
	--drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 0.15);
	--drop-shadow-md: 0 3px 3px rgb(0 0 0 / 0.12);
	--drop-shadow-lg: 0 4px 4px rgb(0 0 0 / 0.25);

	--drop-shadow-xl: 0 9px 7px rgb(0 0 0 / 0.1);
	--drop-shadow-2xl: 0 25px 25px rgb(0 0 0 / 0.15);

	/* -- */
	--blur-xs: 4px;
	--blur-sm: 8px;
	--blur-md: 12px;
	--blur-lg: 16px;
	--blur-xl: 24px;
	--blur-2xl: 40px;
	--blur-3xl: 64px;
	/* -- */
	--perspective-dramatic: 100px;
	--perspective-near: 300px;
	--perspective-normal: 500px;
	--perspective-midrange: 800px;
	--perspective-distant: 1200px;
	/* -- */
	--aspect-video: 16 / 9;
	/* -- */
	--ease: cubic-bezier(0.25, 0.1, 0.25, 1);
	--ease-in: cubic-bezier(0.4, 0, 1, 1);
	--ease-out: cubic-bezier(0, 0, 0.2, 1);
	--ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
	/* -- */
	--animate-spin: spin 1s linear infinite;
	--animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
	--animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	--animate-bounce: bounce 1s infinite;
	--animate-soft-bounce: soft-bounce 1.2s infinite ease-in-out;

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}
	@keyframes ping {
		75%,
		100% {
			transform: scale(2);
			opacity: 0;
		}
	}
	@keyframes pulse {
		50% {
			opacity: 0.5;
		}
	}
	@keyframes bounce {
		0%,
		100% {
			transform: translateY(-25%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: none;
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}

	@keyframes soft-bounce {
		0%,
		100% {
			transform: translateY(0%);
		}
		50% {
			transform: translateY(40%);
		}
	}
}
