@utility container {
	max-width: var(--breakpoint-xl);
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

@utility gx-30-10 {
	column-gap: clamp(0.625rem, 0.326rem + 1.49vw, 1.875rem);
}

@utility gx-md-30-8 {
	column-gap: clamp(0.5rem, 0.136rem + 0.76vw, 0.938rem);
}
@utility gx-md-40-20 {
	column-gap: clamp(1.25rem, 0.174rem + 2.24vw, 2.5rem);
}
@utility gx-md-50-25 {
	column-gap: clamp(1.563rem, 0.217rem + 2.8vw, 3.125rem);
}

@utility gx-lg-32-16 {
	column-gap: clamp(1rem, -0.485rem + 2.4vw, 2rem);
}

@utility gx-lg-80-12 {
	column-gap: clamp(0.75rem, -5.561rem + 10.18vw, 5rem);
}
@utility gx-lg-100-30 {
	column-gap: clamp(1.875rem, -4.622rem + 10.48vw, 6.25rem);
}
@utility gy-30-10 {
	row-gap: clamp(0.625rem, 0.326rem + 1.49vw, 1.875rem);
}

@utility gy-md-32-16 {
	row-gap: clamp(1rem, 0.139rem + 1.79vw, 2rem);
}
@utility gy-max-md-32-16 {
	row-gap: clamp(1rem, 0.286rem + 3.57vw, 2rem);
}

@utility gy-40-25 {
	row-gap: clamp(1.563rem, 1.339rem + 1.12vw, 2.5rem);
}
@utility gy-lg-50-30 {
	row-gap: clamp(1.875rem, 0.982rem + 4.46vw, 3.125rem);
}

@utility py-50-15 {
	padding-top: clamp(0.938rem, 0.415rem + 2.61vw, 3.125rem);
	padding-bottom: clamp(0.938rem, 0.415rem + 2.61vw, 3.125rem);
}
@utility py-md-57-15 {
	padding-top: clamp(0.938rem, 0.311rem + 3.13vw, 3.563rem);
	padding-bottom: clamp(0.938rem, 0.311rem + 3.13vw, 3.563rem);
}
@utility py-44-30 {
	padding-top: clamp(1.875rem, 1.666rem + 1.04vw, 2.75rem);
	padding-bottom: clamp(1.875rem, 1.666rem + 1.04vw, 2.75rem);
}

@utility px-md-84-15 {
	padding-left: clamp(0.938rem, -0.092rem + 5.15vw, 5.25rem);
	padding-right: clamp(0.938rem, -0.092rem + 5.15vw, 5.25rem);
}
@utility p-35-15 {
	padding: clamp(0.938rem, 0.639rem + 1.49vw, 2.188rem);
}
@utility p-50-15 {
	padding: clamp(0.938rem, 0.415rem + 2.61vw, 3.125rem);
}

@utility p-md-70-20 {
	padding: clamp(1.25rem, -1.44rem + 5.61vw, 4.375rem);
}
@utility p-maxmd-70-20 {
	padding: clamp(1.25rem, -0.982rem + 11.16vw, 4.375rem);
}

@utility pt-80-30 {
	padding-top: clamp(1.875rem, 1.129rem + 3.73vw, 5rem);
}

@utility pb-80-30 {
	padding-bottom: clamp(1.875rem, 1.129rem + 3.73vw, 5rem);
}

@utility pb-24-16 {
	padding-bottom: clamp(1rem, 0.881rem + 0.6vw, 1.5rem);
}

@utility mb-24-16 {
	margin-bottom: clamp(1rem, 0.881rem + 0.6vw, 1.5rem);
}
@utility mb-45-15 {
	margin-bottom: clamp(0.938rem, 0.49rem + 2.24vw, 2.813rem);
}
@utility mb-50-20 {
	margin-bottom: clamp(1.25rem, 0.802rem + 2.24vw, 3.125rem);
}
@utility mb-50-30 {
	margin-bottom: clamp(1.875rem, 1.576rem + 1.49vw, 3.125rem);
}
@utility mb-80-30 {
	margin-bottom: clamp(1.875rem, 1.129rem + 3.73vw, 5rem);
}
@utility mb-80-50 {
	margin-bottom: clamp(3.125rem, 2.677rem + 2.24vw, 5rem);
}

@utility mb-100-60 {
	margin-bottom: clamp(3.75rem, 3.153rem + 2.99vw, 6.25rem);
}

@utility my-100-30 {
	margin-top: clamp(1.875rem, 0.83rem + 5.22vw, 6.25rem);
	margin-bottom: clamp(1.875rem, 0.83rem + 5.22vw, 6.25rem);
}

@utility w-41-10 {
	width: clamp(0.625rem, 0.162rem + 2.31vw, 2.563rem);
}
@utility w-lg-440-235 {
	width: clamp(14.688rem, -4.338rem + 30.69vw, 27.5rem);
}

@utility w-md-670-450 {
	width: clamp(28.125rem, 16.258rem + 24.69vw, 41.875rem);
}
@utility w-md-644-250 {
	width: clamp(15.625rem, -5.576rem + 44.17vw, 40.25rem);
}

@utility minh-md-292-200 {
	width: clamp(15.625rem, -5.576rem + 44.17vw, 40.25rem);
}

@custom-variant any-hover {
	@media (any-hover: hover) {
		@slot;
	}
}

@custom-variant menu-open (&:where(.menu-open, .menu-open *));
