services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    ports:
      - '3000:3000'
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - .env
    environment:
      - FORCE_COLOR=1

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    ports:
      - '8080:5173'
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server
    env_file:
      - .env
