services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: dev
    ports:
      - '3001:3001'
    volumes:
      - ./server:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - FORCE_COLOR=1
